{{#if products}}
<div class="row">
  <div class="col-sm-6 col-md-4 offset-md-3 offset-sm-3">
    <ul class="list-group">
      {{# each products}}
      <li class="list-group-item">
        <strong>{{this.item.title}}</strong> <span class="badge badge-pill badge-info">{{this.qty}}</span>
        <span class="label label-success price" >$ {{this.price}}</span>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action <span class="caret"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Remove by 1</a>
            <a class="dropdown-item" href="#">Remove All</a>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>

  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6 offset-md-3 col-sm-offset-3">
    <strong>Total : {{totalPrice}}</strong>
  </div>
</div>
  <hr>

<div class="row">
  <div class="col-sm-6 col-md-6 offset-md-3 col-sm-offset-3">
    <a href="/checkout" type="button" name="button" class="btn btn-success">Checkout</a>
  </div>
</div>
{{else}}

<div class="row">
  <div class="col-sm-6 col-md-6 offset-md-3 col-sm-offset-3">
    <h2>No Items in Cart</h2>
  </div>
</div>
{{/if}}
